* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.justify-content-end {
  justify-content: end;
}


/*PAGE STRUCTURE */
.row-top {
  width: 100%;
  height: 100px;
  background-color: black;
}

main {
  width: 100%;
  height: calc(100vh - 180px);
  background-color: black;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.row-bottom {
  width: 100%;
  height: 80px;
  background-color: chocolate;
}

.card {
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 2px;
}

/* ROW-TOP */
.row-top a {
  background-color: #484848;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  align-self: center;
}

.row-top a i {
  margin-right: 5px;
}