* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

li {
  list-style: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-end {
  justify-content: end;
}

.center {
  justify-content: center;
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

/*PAGE STRUCTURE */
.row-top {
  width: 100%;
  height: 100px;
  background-color: black;
}

main {
  width: 100%;
  height: calc(100vh - 180px);
  background-color: black;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  
}

.row-bottom {
  width: 100%;
  height: 80px;
  background-color: #222222;
}

/* ROW-TOP */
.row-top button {
  background-color: #6a6c70;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  align-self: center;
}

.row-top button i {
  margin-right: 5px;
  padding-top: 4px;
}

/* MAIN */
.box-card {
  width: 300px;
  height: 200px;
}

.card {
  position: relative;
  width: 295px;
  height: 195px;
}
.card .name {
  display: inline-block;
  background-color: rgba(152, 152, 152, 0.5);
  padding: 5px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 5px;
  left: 0;
}

/* ROW-BOTTOM */
section {
  display: flex;
  align-items: center;
}

.box {
  height: 60px;
  padding: 10px;
}

ul.strumenti li button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

li span {
  margin-top: 5px;
  font-size: 0.8rem;
}

.big {
  text-align: center;
  font-size: 1.7rem;
}

.fa-share-from-square {
  color: #40ac04;
}

section:last-child button {
  background-color: #4a4a4a;
  color: red;
  text-align: center;
  padding: 0 30px;
  height: 100%;
  font-size: 1.2rem;
}

 
